page-confirmation{
  .scroll-content{
    background: url(../assets/images/bg.png);
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding:5px;
  }

  h4{
    font-size:4.4vw;
    font-family: "GOTHIC NORMAL";
  }

  p{
    font-size:3.5vw;
    font-family: "GOTHIC NORMAL";
  }

  ion-list{
    margin-bottom:10px!important;
  }

  .header-list{

    h4{
      margin-bottom:0;
    }
    p{
      margin:0;
    }

    .m-div{
      position: relative;
      background-position: 50% 50%;
      background-repeat:   no-repeat;
      background-size:     cover;
      height:34vh;
      width:calc(100%);
      margin-left:0px;
      margin-right:0px;
      img{
        width:20vw;
        margin-top:10px;
        margin-left:10px;
      }
    }

    .r-row{
      background-color: transparent;
      margin-top:5px;
      .r-btn{
        background-color: $margent;
        border-radius: 200px;
        padding:5px 20px;
        height: 32px;
        font-family: "GOTHIC NORMAL";
      }
    }
  }

  .c-list{
    padding:10px;
    h4{
      font-size:6vw;
      color:$bgreen;
      margin-top:10px;
      margin-bottom:0;
    }
  }

  ion-textarea{
    width:100%;
    height:100px;
    background-color: $white;
    padding:5px;
    margin-bottom:20px;
  }


  .social-row{
    img{
      width:9vw;
    }
  }

  ion-list.c-list{
    background-color: #e2e2e2;
  }

  .upload-div{
    top:10vh;
  }
}
