page-verification{
  .scroll-content{
    background: url(../assets/images/bg.png);
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-top:72px!important;
    padding-left:5px;
    padding-right:5px;
    padding-top:4vh;
  }

  ion-list{
    margin-bottom:10px!important;
  }

  .lat-row{
    background-color: #dbdbdb;
    height:20vh;
    ion-row{
      img{
        width:36px;
      }
      h5{
        margin-top:3px!important;
      }
    }
  }

  .button-row{
    margin-top:2vh;
    margin-bottom:2vh;

    .btn-row{
      button{
        width:40vw;
        border-radius: 200px;
      }
    }
  }

  h5{
    font-size:4vw;
    font-family: "GOTHIC NORMAL";
    color:$dblack;
  }

  div.des{
    font-size:3.3vw;
    font-family: "GOTHIC NORMAL";
  }

  .item{
    bordoer:none!important;
    background-color: transparent!important;
    img{
      width:24px;

    }
    .item-inner{
      border-bottom:1px solid #ddd!important;
      //margin-left:0!important;
    }
    ion-label{
      color:$yblack;
      font-family: "GOTHIC NORMAL";
      font-size:3.4vw!important;
    }
  }

  ion-list.s-list{
    div.des{
      margin-bottom:2vh;
      font-family: "GOTHIC NORMAL";
    }
  }

  .btn-item{
    border:none!important;
    .item-inner{
      border:none!important;

    }

  }

  .green{
    color:$bgreen;
  }

  p{
    font-size:3.5vw;
    font-family: "GOTHIC NORMAL";
    span{
      border-bottom: 1px solid $dblack;
    }
  }

  ion-row{
    padding-top:3px;
    padding-bottom:3px;
    ion-col{
      font-size:3.3vw;
      font-family: "GOTHIC NORMAL";
    }
  }
  ion-row.f-row{
    margin-top:3vh;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
  }

  ion-row.s-row{
    border-bottom:1px solid #ddd;
  }

  button{
    color:$white;
    padding:8px 40px!important;
    height:38px!important;
    font-size:4.4vw!important;
    margin-left:16px;
    font-family: "GOTHIC NORMAL";
  }

  .upload-div{
    position: absolute;
    top:10vh;
    right:0;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: $margent;
    color: $white;

    height:32px;
    width:10vw;

    img{
      width:5vw;
    }
  }

  .bottom-div{
    position: absolute;
    bottom:5px;
    left:5px;
    width:calc(100% - 10px);
    height:12vh;
    background: url(../assets/images/adver.png);
    span{
      font-size:5vw;
      font-family: "GOTHIC BOLD";
    }
  }
}
