page-profile{
  h5,p,h4{
    font-family: "GOTHIC NORMAL";
  }

  .tool-row{
    margin-bottom:0vh;
  }

  .scroll-content{
    background: url(../assets/images/bg.png);
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  .m-row{
    h5{
      margin:5px 0 3px;
    }
    p{
      margin:5px;
      span{

      }
    }
    img{
      height:14px;
      vertical-align: bottom;
      margin-right:5px;
    }

    button{
      border-radius: 200px;
      height:28px;
      font-size:3.5vw;
      ion-icon{
        margin-right:3px;
      }
    }
  }

  agm-map{
    position: absolute;
    bottom:0;
    left:0;
    height: 68vh!important;
  }

  .profile-div{
    width:30vw;
    height:30vw;
    position: absolute;
    top:45px;
    left:15px;
  }

  .upload-div{
    position: absolute;
    top:8vh;
    right:0;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: $margent;
    color: $white;

    height:32px;
    width:10vw;

    img{
      width:5vw;
    }
  }
}
