page-go-online{
  .scroll-content{
    background: url(../assets/images/bg.png);
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
  }

  ion-toolbar{
    .end{
      order:4!important;
    }
  }

  *{
    font-family: "GOTHIC NORMAL";
  }

  ion-segment{
    width:60%;
    margin-left:20%;
    margin-top:2vh;
    ion-segment-button{
      border:none!important;
      background-color: $white!important;
      color: $dblack!important;
      border-radius: 200px!important;
    }

    .first-segment{
      margin-right:-3vw!important;
    }

    .last-segment{
      margin-left:-3vw!important;
    }

    .segment-activated{
      background-color: $margent!important;
      color:$white!important;
      z-index:10;
    }

  }

  ion-item{
    background-color: #e1e1e1!important;
    border:none!important;

    margin-bottom:5px!important;
    .item-inner{
      border:none!important;
    }

    h4{
      font-family: "GOTHIC BOLD";
    }

    p{
      white-space: pre-wrap;
      font-size:12px!important;
    }

    ion-thumbnail{
      margin:0!important;
    }
    img{
      width:80px!important;
      height:80px!important;
    }
  }

  ion-input{
    background-color: $white;
    input{
      text-align: center;
      color: $bgreen;
    }
  }

  p{
    span{
      border-bottom:1px solid #ddd;
    }
  }

  .upload-div{
    position: absolute;
    top:10vh;
    right:0;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: $margent;
    color: $white;

    height:32px;
    width:10vw;

    img{
      width:5vw;
    }
  }

  .profile{
    width:40vw;
    margin-top:20px;
  }

  .usd{
    height:20px;
    margin-top:10px;
  }

  button{
    border-radius: 200px!important;
    height:24px;
    padding:5px 10px!important;
  }
}
